.dash{
  position: relative;
    width: 80%;
    height: 84%;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 2rem;
}

.dash .dashtop{
  width: 100%;
  height: 15%;
}

.dash .dashbot{
    width: 100%;
    height: 90%;
    margin-top: 2rem;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.303);
}

/* dashtop */
/* dashnav */
.dashnav{
  position: relative;
  display: flex;
  align-items: center;
  padding: 3rem 2rem;
  background-color: rgba(250, 235, 215, 0.382);
}



.dashnav .addbutton{
  width: 33%;
  margin-left: 0rem;
  display: flex;
  align-items: center;
  gap:3rem;
  border-right: 1px solid black;
}

.dashnav .addbutton button {
  padding: 1rem 4rem;
  background-color: transparent;
  border: 0.1px solid #740778;
  border-radius: 10px;
  transition: 0.2s ease;
  color: black;
}

.dashnav  button:hover{
  cursor: pointer;
  background-color: #740778;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

 .dashnav .exploreevent{
  display: flex;
  align-items: center;
  padding: 0.8rem 3rem;
  gap:0.5rem;
  color: black;
}


.dashnav button.navactive{
 background-color: #740778;
 color: white;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dashnav button .link.navactive{
  color: white;
}

 .dashnav .exploreevent img{
  width: 22px;
}

.dashnav .navbutton{
  margin-left: 4rem;
  display: flex;
  gap:5rem;
  align-items: center;
}

.dashnav .navbutton img{
  width: 25px;
}

.dashnav .navbutton .nav2 img{
 width: 35px;
}

.dashnav .navbutton .navlink{
  width: 15rem;
  color: black;
}

.dashnav .navbutton .navlink{
  width: 20rem;
}

.dashnav .navbutton .nav-item{
  display: flex;
align-items: center;
gap:1rem;
cursor: pointer;
background-color: #d1c2d12e;
padding: 1rem 2rem;
border-radius: 10px;
transition: 0.2s ease;
}

.dashnav .navbutton .nav-item:hover{
  /* background-color: #630a6b; */
  /* color: white; */
  /* border: 1px solid #5c075f; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.dashnav .navbutton .nav-item.navactive{
  background-color: #740778;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dashnav .navbutton .nav-item .nav-text{
  text-align: center;
}

.dashnav .navbutton .nav-item h2{
  font-size: 1.2rem;
  font-weight: 200;
}

.dashnav .navbutton .nav-item p{
  font-size: 1.5rem;
}
/* end dashnav */
/* end dashtop */
/* dash bot */
.dash .dashbot .dashfilter{
  /* border: 1px solid black; */
  padding: 1rem;
}

.dash .dashbot .dashfilter .dashfil{
 display: flex;
 align-items: center;
 gap:1rem;

}

.dashfil .filteroption select{
  padding: 1rem;
  margin-left: 2rem;
}

.dashfilter .searchbar input{
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1px solid black;
}

.dash .dashbot .dashbotmain{
  height: 50rem;
  margin-top: 1rem;
  /* border: 1px solid black; */
}

/* event form */
.dash .eventform{
  width: 60%;
  position: absolute;
  top:-5%;
  left:20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dash .eventform{
  background-color: white;
  padding: 4rem;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.dash .eventform .formhead{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


 .eventform .formhead .Close{
  /* margin-left: 50rem; */
  cursor: pointer;
}

.dash .eventform label{
  display: flex;
  margin-top: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap:2rem;
}

.dash .eventform input,.dash .eventform textarea{
  width: 50rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid black;
}

.dash .eventform button{
  width: 95%;
  margin-top: 2rem;
  padding: 1rem;
  cursor: pointer;
  background-color: #88098c;
  color: white;
  border: none;
  border-radius: 6px;
}

/* event list */
.dash .eventlistmain{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dash .eventlistmain .explore{
  margin-left: 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.dash .eventlist{
  height: 47rem;
 padding: 2rem;
 display: flex;
 flex-wrap: wrap;
 gap:2.5rem;
 overflow-y: auto;
 margin-top: 1.5rem;
}



.dash .eventlist li{
  max-width: 26rem;
  max-height: 35rem;
  list-style: none;
  background-color: white;
  /* border: 1px solid black; */
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.dash .eventlist .card p{
  margin-top: 0.8rem;
  font-size: 1.4rem;
  color: #666;
}

.dash .eventlist  .card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -2rem;
}

.dash .eventlist .card .btn{
 display: flex;
 flex-direction: row;
 gap: 2rem;
}

.dash .eventlist .card .btn .moreinfobtn{
 background-color: transparent;
 color: #59055c;
 border: 1px solid #630a6b;
}

.dash .eventlist  .card .eventhead{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.dash .eventlist  .card .eventhead h2{
  margin-top: 0;
  font-size: 16px;
  color: #333;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dash .eventlist  .card .eventhead .eventtitle{
  width: 90%;
}

.dash .eventlist  .card .eventhead .joined{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* padding: 1rem 0.5rem; */
  font-weight: 200;
  letter-spacing: 0.4px;
  margin-left: 1rem;
  gap:0.5rem;
  margin-top: -0.3rem;
}


.card .eventhead .joined img{
  width: 24px;
  margin-right: -0.4rem;
}
.card .eventhead .joined span{
  font-size: 1.5rem;
}


.dash .eventlist  .card .eventmid{
 height: 20rem;
 overflow-y: auto;
 padding: 1rem;
 padding-top: 0;
 /* border: 2px solid black; */
}

  
 


.dash .eventlist .card .desc{
 width: 90%;
}

.dash .eventlist  .card button {
  background-color: #820a86;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.2s ease;
}

.dash .eventlist  .card .btn .moreinfobtn:hover {
  background-color: #820a86;
  color: white;
}

.dash .eventlist  .card .btn  button:hover{
  background-color: #630a6b;
  color: white;
}


/* end dash bot */